header {
    background: #bbbb;
    padding: 20px 0;  /*espaçamento interno*/
}

.caixa {
    position: relative; 
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute; /*espaçamento absoluto em relação div e não a página*/
    top: 110px; /*centralizar menu no meio da imagem*/
    right: 0; 
}

nav li {
    display: inline; /*DEIXAR MESMA LINHA*/
    margin: 0 0 0 15px; /*ESPAÇAMENTO A ESQUERDA*/
}

nav a{
    text-transform: uppercase; /*MAIUSCULO*/
    color: #000000;
    font-weight: bold; /*LETRA MAIS GROSSA-REFORÇO*/
    font-size: 22px;
    text-decoration: none; /*NENHUMA DECORAÇÃO - SUBLINHADO*/
}

.produtos{
    width: 940px; /*tamanho fixo de 940 px*/
    margin: 0 auto; /*espaçamento lateral de 0 para cima e baixo e automático para os lados*/
    padding: 50px 0 ; /*espaçamento interno - nao ficar muito grudado no top e zero espacamentos aos lados*/
}
.produtos li {
 display: inline-block;
 text-align: center; /*alinhar ao centro*/
 width: 30%;
 vertical-align: top; /*alinhar ao top - o css por padrao sempre alinha abaixo*/
 margin: 0 1.5%; /*espaçamento externo - zero para cima e para baixo e 1.5 % para os lados*/
 background-color: #cccccc;
 padding: 30px 20px; /*espacamento interno - 30px cima e baixo, 20px para os lados*/
 box-sizing: border-box; /*o espaçamento interno = padding (30px 20px) fica dentro dos width=30%*/
 
}

.produtos h2 {  /*trabalhar com os títulos das listas*/
    font-size: 30px; /*tamanho fonte*/
    font-weight: bold; /*peso da fonte - negrito*/
}

.produto-descricao{
    font-size: 18px;    
}
.produto-preco {
    font-size: 22px;
    font-weight: bold;
}
